/* game board table */
:root {
  --height: '';
  --color: rgb(212, 182, 11);
}

body {
  background-color: rgb(168, 193, 204);
}

#board td {
  width: 50px;
  height: 50px;
  background-image: url(/images/C4BoardSection.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  position: relative;
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -2;
}

.connect-4-image {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

#board {
  position: relative;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  border-bottom: 8px solid blue;
  z-index: 2;
}

.delete-game {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.delete-game:hover {
  background-image: url('https://www.drodd.com/images14/x16.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
  background-color: rgba(153, 153, 153, 0.342);
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  outline: dashed 2px rgb(241, 218, 116);
  position: relative;
  background-image: none;
}

#game-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#column-top td:hover {
  background-color: var(--color);
  background-image: url(/images/C4Piece.png);
  background-size: 60%;
  opacity: 80%;
}

.bounce-top {
  animation: bounce-top 0.9s both;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 2;
  text-shadow: 2px 2px black;
  color: gold;
}

#player-inputs {
  position: relative;
  margin: auto;
  text-align: center;
}

#player-inputs input[type='text'] {
  border-radius: 4px;
  margin-bottom: 10px;
  width: 180px;
  box-shadow: 2px 3px rgb(89, 133, 190);
}

button {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  box-shadow: 1px 2px rgb(110, 144, 189);
}

@keyframes bounce-top {
  0% {
    transform: var(--height);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}